<div class="layout">
  <div class="content">
    <h1 class="header">Coding Challenge</h1>
    <div class="body">
      <strong>Paul Miller</strong> - Senior UI Software Engineer
      <div>
        <a class="weak" href="mailto:paulstegler@gmail.com">paulstegler@gmail.com</a>
      </div>
      <div>
        <a class="weak" href="tel:801-362-3942">801.362.3942</a>
      </div>

      <h3>Object Definition Visualizer</h3>
      <p>I took some liberties on the coding challenge because
      I wanted to demonstrate some of my front end skills as well
      as my backend skills. I made the assumption that the input
      string in the challenge represented a template for an object
      hierarchy similar to json.</p>
      <p>The object visualizer below will change when you modify
      the object definition by either selecting a preset from the
      dropdown or by entering a custom object definition. If you
      enter an invalid definition you will be warned accordingly.</p>
      <graph-viewer></graph-viewer>
    </div>
  </div>
</div>

